.*
__pycache__
*.pyc
*.pyo
*.egg-info
build
dist
cProfile_result.txt
.DS_Store

!/.gitignore
!/.vscode/
!.vscode/**

uv.lock

hvbrowser/hv_battle_ponychart_ml/rawimage/*
hvbrowser/hv_battle_ponychart_ml/labels.json
